<template>
    <div>
        <div class="bg-gray-200">PURCHASE LEDGER</div>
        <ul class="m-4">
            <li v-for="purchaseLedger in purchaseLedgers" class="p-2">
                <div class="shadow rounded flex justify-between">
                    <div>{{ purchaseLedger.id }}</div>
                    <div>{{ purchaseLedger.amount }}</div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'PurchaseLedgersIndex',
    props: {
        purchaseLedgers: {
            type: Array,
            default: []
        }
    }
}
</script>

<style scoped>

</style>
