<template>
    <div>
        <div class="bg-gray-200">SALES LEDGER</div>
        <ul class="m-4">
            <li v-for="salesLedger in salesLedgers" class="p-2">
                <div class="shadow rounded flex justify-between">
                    <div>{{ salesLedger.id }}</div>
                    <div>{{ salesLedger.amount }}</div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'SalesLedgersIndex',
    props: {
        salesLedgers: {
            type: Array,
            default: []
        }
    }
}
</script>

<style scoped>

</style>
